body {
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;

}

.A4Page {
  display: block;
  border: 1px solid blue;
  width: 210mm;
  height: 297mm;
}


li {
    display: block;
}

li:before {
    content: "🌑";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 7px;
    margin-left: -3px;
    margin-right: 11px;
}
